@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.font-jersey {
  font-family: var(--font-jersey);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Use your custom font variable defined in layout.tsx */
  font-family: var(--font-geist-sans), sans-serif; 
}
